/*
* @Author: baby
* @Date:   2016-04-15 14:07:14
* @Last Modified by:   baby
* @Last Modified time: 2016-04-15 14:18:52
*/

#test {
  background-color: #eee;
}

#test span[title] {
  font-weight: bold;
  color: #ff3300;
}
#test span:nth-child(4) {
  background-color: #34538b;
  color: #fff;
}
#test span:first-child {
  border-top: 2px solid #34538b;
  border-bottom: 2px solid orange;
  font-style: oblique;
}
#test span:last-child {
  text-decoration: line-through;
  border: 1px solid #a0b3d6;
}
#test span:empty {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #63C;
  vertical-align: middle;
}
